@model List<Category> //List<Category>:kiểu dữ liệu của object ở bên controller truyền qua và lưu vào @model.
@* Lưu ý khi sử dụng @model trong các đoạn lệnh C#  thì viết Model-->  @foreach(var obj in Model.OrderBy(u=>u.DisplayOrder) *@
@* Lưu ý khi sử dụng các thuộc tính(property) trong object do controller truyền qua thì chỉ cần sử dụng trực tiếp. Ví dụ proprty Name (asp-for="Name"). Trong đó Name chính là property của object do Controller truyền qua *@

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Category List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <!--asp-controller="Category" asp-action="Create" => ../Category/Create-->
                <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>  Create New Category
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Category Name
                    </th>
                    <th>
                        Display Order
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                 @*Comment: Vì Model đang là 1 List (collection) nên có thể sử dụng LINQ *@
                @*Comment: Try cập @model bằng từ "Model" (bắt buộc ghi hoa chữ M và không có dấu @) *@
                @foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
                {
                    <tr>
                        <td>@obj.Name</td>
                        <td>
                            @obj.DisplayOrder
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                @*Comment: asp-route-[tên tự đặt]: *@
                                @*Comment: [tên tự đặt]: bắt buộc phải giống với tên parameter của method Edit (method sử dụng cho View)*@
                                @*Comment: asp-route-id: truyền đối số (argument) tên id có giá trị là ID của category vào method Edit/Delete (method sử dụng cho View) khi nhấn Edit/Delete *@
                                @*Comment: asp-route-id="@obj.Id": gán parameter query vào URL: GET:.../Admin/Category/Edit?id=1 *@
                                @*Comment: asp-controller="Category" asp-action="Edit" => GET:.../Admin/Category/Edit?id=1*@
                                @*Comment: asp-controller="Category" asp-action="Delete" => GET:.../Admin//Category/Delete?id=1*@
                                <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash-fill"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>